.header_home {
  height: 100vh;
}

.header_home .header_wrap {
  position: relative;
  height: 100%;
  z-index: 5;
}

.swiper-container {
  height: 100%;
}

.header_home_title {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  padding: 0 15px;
}

p.header_home_title {
  margin: 20px 0;
  font-weight: 400;
  font-size: 16px;
}

.header_home_title h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 10px;
}
.movie_locandina {
  top: 67px;
  position: absolute;
  width: 100%;
}

.gradient_title.sky_cinema_title {
  font-size: 1.4rem;
}

.header_home_title button {
  color: white;
  font-weight: 700;
  margin-top: 10px;
}

.skyq_logo {
  width: auto;
  height: 2rem;
}

ul.cinema_list {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul.cinema_list p {
  margin: 5px 10px;
}

ul.cinema_list li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.offer {
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 1px 0px #3333, 0px -1px 0px #3333;
}

.price_main {
  margin: 1rem 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
}

.price_side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
  font-weight: 400;
}

.price_side .price_cents {
  font-weight: 700;
  font-size: 1.5rem;
}

.price_main .price_big {
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 1;
}

.configure {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
}

.configure_link {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.configure_link a,
.configure_link svg {
  color: #21429c;
  font-weight: 700;
  fill: #21429c;
}

.configure strong,
.configure a {
  font-size: 1.1rem;
}

.gradient_title {
  background: linear-gradient(
    90deg,
    #ff9e00,
    red 30.93%,
    #b5007d 61.67%,
    #21429c 88.09%,
    #0071ff
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
