.header_home {
  height: 100vh;
}

.header_home .header_wrap {
  position: relative;
  height: 100%;
  z-index: 5;
}

.swiper-container {
  height: 100%;
}

.header_home_title {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  padding: 0 15px;
  z-index: 10;
}

p.header_home_title {
  margin: 20px 0;
  font-weight: 400;
  font-size: 16px;
}

.header_home_title h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 10px;
}
.movie_locandina {
  top: 67px;
  position: absolute;
  width: 100%;
}

.gradient_title.sky_cinema_title {
  font-size: 1.4rem;
}

.skyq_logo {
  width: auto;
  height: 2rem;
}

ul.cinema_list {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul.cinema_list p {
  margin: 5px 10px;
}

ul.cinema_list li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.offer {
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 1px 0px #3333, 0px -1px 0px #3333;
}

.price_main {
  margin: 1rem 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.price {
  display: flex;
}

.price_side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
  font-weight: 400;
}

.price_side .price_cents {
  font-weight: 700;
  font-size: 1.5rem;
}

.price_main .price_big {
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 1;
}

.configure {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
}

.configure_link {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.image_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.configure_link a,
.configure_link svg {
  color: #21429c;
  font-weight: 700;
  fill: #21429c;
}

.configure strong,
.configure a {
  font-size: 1.1rem;
}

.gradient_title {
  background: linear-gradient(
    90deg,
    #ff9e00,
    red 30.93%,
    #b5007d 61.67%,
    #21429c 88.09%,
    #0071ff
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .header_home_title {
    top: 100px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cover_image {
    left: 0;
    top: 0;
  }

  .configure_link {
    margin-left: 20px;
  }

  .movie_locandina {
    width: 100%;
    position: relative;
  }

  .header_home_title.slide-2 {
    grid-gap: 10px;
    position: relative;
    top: 20px;
  }

  .wrapper_locandina {
    max-width: 1400px;
    margin: 0 auto;
  }

  .header_home_title.slide-2 {
    grid-gap: 10px;
    position: relative;
    top: 0;
  }

  .header_home_title.slide-2 p,
  .header_home_title.slide-2 ul {
    display: none;
  }

  .price_main {
    justify-content: center;
  }

  div.price_side {
    margin-right: 20px;
  }

  div.configure_link {
    justify-content: center;
  }

  .header_home .header_wrap {
    position: relative;
    height: 100%;
    z-index: 5;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
  }

  .header_home .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
    padding: 10px 0 20px;
  }
  .header_home
    .swiper-container-horizontal
    > .swiper-pagination-bullets::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(122, 122, 122, 1) 10%,
      rgba(245, 245, 245, 1) 100%
    );
    z-index: -1;
  }
  .header_home
    .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    opacity: 0.7;
    background-color: transparent;
    width: 40%;
  }
  .header_home
    .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
  }

  .header_home
    .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet:nth-child(1):before {
    content: "1. Nuove. Imperdibili. Per te";
    display: block;
    color: #fff;
    font-weight: 700;
    width: 50%;
  }
  .header_home
    .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet:nth-child(2):before {
    content: "2. Sky Netfilx";
    display: block;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }
}

@media (min-width: 1020px) {
  .image_cover {
    top: -30%;
  }
}
