.header_home {
  height: 100vh;
}

.header_home .header_wrap {
  position: relative;
  height: 100%;
}

.swiper-container {
  height: 100%;
}

.header_home_title {
  position: absolute;
  bottom: 60px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
}
