@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1.4em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

ul,
li {
  list-style-type: none;
}

input,
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a,
a:focus {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.cover_image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main_container {
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  border: 0;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 12px;
  box-shadow: none;
  text-transform: uppercase;
}

.btn-blue {
  color: #fff;
  background-color: #1b7cff;
}

.btn-blue-dark {
  color: #fff;
  background-color: #064497;
}

.btn-white {
  color: #3093ff;
  background-color: #fff;
}
